<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "c"
    version   = "1.0.0">



	<name>iTempo</name>

	<description>
		Aplicación sobre el tiempo para el proyecto fin de grado
	</description>

	<author href="" email="1985eliezer@gmail.com">
		Eliezer Cruz Suárez
	</author>

	<icon src="rain.png" />

	<preference name="phonegap-version" value="3.6.3" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="net.yoik.cordova.plugins.screenorientation" />
	
	<access origin="*" />
</widget>
