#image{ 
	width: 100%;
	height: 100%;
}
.icono{
  height: 24px;
}
.point{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
	float: left;
	width: 100%;
	margin: 0;
}
.image{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	float: left;
}
.hora{
	z-index: 0;
	display: none !important;
}
.portrait{
	z-index: 0;
	display: none !important;
}
.ui-footer a{
	  background-color: #C1272D !important;
}
.ui-footer a{
	  color: #fff !important;
	  text-shadow: 0 1px 0 #C1272D !important;
}